/* admin.css */

/* ... (existing styles) */

.user-container {
    background-color: grey;
    position: relative;
    border-radius: 15px;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
}

.user-container h2 {
    color: #007bff;
    margin-bottom: 10px;
}

.delete-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    position: absolute;
    right: 10px; /* Adjust as needed to position the link at the end */
    top: 10px; /* Adjust as needed to position the link at the top */
    
}

.delete-button:hover {
    background-color: #c82333;
}