{% extends 'adminbase.html' %}

{% block title %}
Admin Page
{% endblock %}

{% block content %}
<div class="">
    <h2>Users</h2>

    {% if users.__len__() > 0 %}
    {% for user in users %}
    <div class="user-container">
        <p>
            Username: {{ user.username }}
            <a href="{{ url_for('delete_user', user_id=user.id) }}" class="delete-button">Delete</a>
        </p>
    </div>
    {% endfor %}
    {% else %}
    <h2 class="user-container" style="text-align: center;">
        There are no users
    </h2>
    {% endif %}


</div>
{% endblock %}